{{ define "main" }}

<div class="list-header">
  <h1>{{ if eq .Data.Plural "tags" }}Tags{{ else if eq .Data.Plural "categories" }}Categorias{{ else }}{{ .Title }}{{ end }}</h1>
  <p>{{ len .Data.Terms }} {{ if eq (len .Data.Terms) 1 }}tag{{ else }}tags{{ end }} no total</p>
</div>

<div class="tags-cloud">
  {{ range .Data.Terms.ByCount }}
    <a href="{{ .Page.Permalink }}" class="tag-cloud-item" data-count="{{ .Count }}">
      {{ .Page.Title }}
      <span class="tag-cloud-count">{{ .Count }}</span>
    </a>
  {{ end }}
</div>

{{ end }}
